@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h2 {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  line-height: 1.1;
  color: black;
}

body {
  background-color: #D6E0FA;
}
